body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: bisque;
    
    display: flex;
    justify-content: center;
}

main {
    max-width: 100ch;
    padding: 3em 0 5em;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: cornflowerblue;
    transition: color 0.5s;
}

a:hover {
    color: blueviolet;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.65em;
    margin-top: 1.75em;
}

p, li {
    font-size: 1.125rem;
}

img {
    margin-top: 2em;
    width: 85%;
}

h1, h2 {
    padding: 0.5em;
    width: fit-content;
    background-color: white;
}

h3 {
    font-size: 1.3em;
    color: cornflowerblue;
    padding-inline-start: 40px;
}

main>ul {
    padding-inline-start: 80px;
}

ol>li {
    margin-bottom: 0.75em;
}

main p:last-child {
    font-size: 2.5em;
    padding: 0.5em;
    font-style:italic;
    background-color: #ef9797;
}

